.wrapperForgotPass {
    margin: 0 auto;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
}

.fomrForgotPass {
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.25);
    border-radius: 10px;
    line-height: 3;
    padding: 16px;
}
